.contact{
  background-color: black;
  color: #fff;
  border: 10% 0 0 0;
}
.contact-info{
  padding-top: 10%;
  padding: 80px 10px 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.contact-info h3{
  color: aqua;
  font-size:25px ;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact-info p{
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .42s;
}
.copyright {
  background-color: black;
  text-align: center;
  padding: 50px;
}
.copyright p{
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}
