.footer{
  bottom: 0px;
  height: 100px;
  width: 100%;
}
.copyright {
  position: absolute;
  width: 100%;
  top: 95%;
  background-color: #323946;
  text-align: center;
  font-size: 120%;
}
.copyright p{
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
}
