<div class="contact" id="contactFooter">
  <div class="contact-info">
    <div class="first-info">
      <img src="/assets/image/logo.jpg" alt="" />
    </div>

    <div class="social-icon">
      <h3>REDES SOCIALES</h3>
      <a
        href="https://www.instagram.com/vip_phonecity?igsh=YXU3YnNjaHdzMTJq"
        target="_blank"
        ><i class="bx bxl-instagram"></i>INSTAGRAM</a
      >
      <br />
      <br />
      <a
        href="https://api.whatsapp.com/send/?phone=584128478470&text&type=phone_number&app_absent=0"
        target="_blank"
        ><i class="bx bxl-whatsapp"></i>WHATSAPP</a
      >
    </div>

    <div class="second-info">
      <h3>Soporte</h3>
      <a href="https://wa.me/+56953358663" target="_blank"><p>Contacto</p></a>
      <a href="https://github.com/Albin18/E-Commerce-VipPhone" target="_blank"
        ><p>Sobre La Pagina</p></a
      >
      <p>Privacidad</p>
    </div>

    <div class="third-info">
      <h3>TIENDA</h3>
      <p>Trabaja Con Nosotros</p>
      <p>Reclamos</p>
      <p>Metodos de Pago</p>
    </div>
  </div>
</div>
<div class="copyright">
  <p>Copyright ©2024 | All rights Reserved Designd by Albian Perez</p>
</div>
