<div class="card bg-dark text-white my-5 pb-5 mx-4">
  <div class="card header bg-dark text-white text-center">{{ titulo }}</div>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">DESCRIPTION</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control my-2"
            [(ngModel)]="product.description"
            name="description"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">BRAND</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control my-2"
            [(ngModel)]="product.brand"
            name="brand"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">QUANTITY</label>
        <div class="col-sm-6">
          <input
            type="number"
            class="form-control my-2"
            [(ngModel)]="product.quantity"
            name="quantity"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">PRICE</label>
        <div class="col-sm-6">
          <input
            type="number"
            class="form-control my-2"
            [(ngModel)]="product.price"
            name="price"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="category" class="col-form-label col-sm-2">CATEGORY</label>
        <div class="col-sm-6">
          <input
            type="radio"
            [(ngModel)]="product.category"
            [value]="'Verdura'"
            name="category"
            id="verdura"
          />
          <label for="verdura">Verdura </label>
          <input
            type="radio"
            [(ngModel)]="product.category"
            [value]="'Carne'"
            name="category"
            id="carne"
          />
          <label for="carne">Carne </label>
          <input
            type="radio"
            [(ngModel)]="product.category"
            [value]="'Charcuteria'"
            name="category"
            id="charcuteria"
          />
          <label for="charcuteria">Charcuteria </label>
          <input
            type="radio"
            [(ngModel)]="product.category"
            [value]="'Alacena'"
            name="category"
            id="alacena"
          />
          <label for="alacena">Alacena </label>
          <input
            type="radio"
            [(ngModel)]="product.category"
            [value]="'Fruta'"
            name="category"
            id="fruta"
          />
          <label for="Fruta">Fruta </label>
          <input
            type="radio"
            [(ngModel)]="product.category"
            [value]="'Dulces'"
            name="category"
            id="dulces"
          />
          <label for="Dulces">Dulces</label>
        </div>
      </div>

      <div class="form-group row">
        <div class="col sm-6">
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            *ngIf="!product.id; else elseBlock"
          >
            CREATE
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()">
              EDIT
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
