<div class="card bg-dark text-white">
  <div class="card header bg-dark text-white text-center">{{ titulo }}</div>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Description</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control my-2"
            [(ngModel)]="product.description"
            name="description"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">BRAND</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control my-2"
            [(ngModel)]="product.brand"
            name="brand"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">QUANTITY</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control my-2"
            [(ngModel)]="product.quantity"
            name="quantity"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">PRICE</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control my-2"
            [(ngModel)]="product.price"
            name="price"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">BUYING</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control my-2"
            [(ngModel)]="product.buy_at"
            name="buy_at"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">CATEGORY</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control my-2"
            [(ngModel)]="product.category"
            name="category"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col sm-6">
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            *ngIf="!product.id; else elseBlock"
          >
            CREAR
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()">
              EDITAR
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
