<div class="card border-info mt-4 mx-2">
  <div class="card-header">REGISTRO DE MERCADO CON FILTRO MEDIANTE PIPES</div>
  <div class="card-body">
    <h5 class="card-title">LISTA DE PRODUCTOS</h5>
    <div class="container my-2 text-left">
      <div class="row">
        <div class="col">
          <button
            class="btn btn-rounded btn-primary"
            type="button"
            [routerLink]="['/products/form']"
            routerLinkActive="router-link-active"
          >
            CREAR PRODUCTO
          </button>
        </div>
        <div class="col">
          <select class="form-select" [(ngModel)]="parameter1">
            <option selected>ORDER BY...</option>
            <option value="description">DESCRIPTION</option>
            <option value="brand">BRAND</option>
            <option value="quantity">QUANTITY</option>
            <option value="price">PRICE</option>
            <option value="buyAt">BUYING</option>
            <option value="category">CATEGORY</option>
          </select>
        </div>
        <div class="col">
          <select class="form-select" [(ngModel)]="parameter2">
            <option selected>ASC/DESC</option>
            <option value="asc">ASC</option>
            <option value="desc">DESC</option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="products?.length == 0" class="alert alert-info">
      THERE ARE NO RECORDS IN THE DATABASE
    </div>
    <table
      class="table table-bordered table-striped"
      *ngIf="products?.length > 0"
    >
      <thead>
        <tr>
          <th>id</th>
          <th>Description</th>
          <th>Brand</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Buying</th>
          <th>Category</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of products | orderBy : parameter1 : parameter2"
        >
          <td>{{ product.id }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.buyAt }}</td>
          <td>{{ product.category }}</td>
          <td>
            <button
              type="button"
              name="button"
              [routerLink]="['/products/form', product.id]"
              class="btn btn-primary"
            >
              EDIT
            </button>
          </td>
          <td>
            <button
              type="button"
              name="eliminar"
              (click)="delete(product)"
              class="btn btn-danger"
            >
              DELETE
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
