<section>
  <div class="home">
    <div class="card">
      <img src="/assets/image/slide1.jpg" alt="" />
      <div class="info">
        <h1>BACK-END</h1>
        <p>
          SERVICE LAYER USING, SPRING BOOT FOR BACK-END DEVELOPMENT.
          <br />
          <br />
          WE MAKE A SIMPLE CRUD FOR THE PROJECT LOGIC
        </p>
        <a
          href="https://github.com/Albin18/Back-End-Inventory_Food"
          class="btn"
          target="_blank"
          >Mostrar Mas</a
        >
      </div>
    </div>
    <div class="card">
      <img src="/assets/image/slide2.jpg" alt="" />
      <div class="info">
        <h1>DATABASE</h1>
        <p>
          CONNECTION TO THE DATABASE THROUGH MYSQL USING A ONE-TO-ONE
          RELATIONSHIP, TO SAVE THE INFORMATION FROM OUR FORM ALONG WITH THE
          BACK-END THAT WILL LATER BE PRESENTED IN THE FRONT-END
        </p>
        <a href="#" class="btn">Mostrar Mas</a>
      </div>
    </div>
    <div class="card">
      <img src="/assets/image/slide3.webp" alt="" />
      <div class="info">
        <h1>FRONT-END</h1>
        <p>
          WE CONSUME OUR BACK-END SERVICE AND EXTRACT THE INFORMATION FROM OUR
          DATABASE.
          <br />
          <br />
          WE USE PIPES TECHNOLOGY ON THE FRONT-END TO ADD MORE EFFICIENT SEARCH
          FILTERS.
        </p>
        <a
          href="https://github.com/Albin18/Inventory-Food-App"
          class="btn"
          target="_blank"
          >Mostrar Mas</a
        >
      </div>
    </div>
  </div>
</section>
